.DS_Store
*.db
*.log
log/

custom/

data/
.idea/
.#*
bin/
*.iml
*.exe
*.exe~
*.pem

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# vendor folders
.vendor/*
vendor/*
!vendor/vendor.json
!vendor/app/*

# config
config.json
