name: Go tests

on:
  pull_request:
    paths-ignore:
      - 'resources/**'

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      - name: Build sqlite server
        run: go build -v ./cmd/main.go

      - name: Test
        run: go test -v ./...
